<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" color="dark" defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Achievements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="achv-item" *ngFor="let achv of achievements">

    <span class="achv-tlt">{{achv.title}}</span>

    <img src="https://img.pngio.com/computer-icons-achievement-clip-art-learning-from-other-png-achievement-png-900_520.jpg" alt="">

    <ion-progress-bar  value="{{lastCount  / achv.goal}}" color="dark"></ion-progress-bar>
    <p *ngIf="100 >= lastCount * 100 / achv.goal" class="achv-goal ">{{lastCount}}/{{achv.goal}}</p>
    <p class="achv-compl" *ngIf="lastCount * 100 / achv.goal >= 100 ">COMPLETED</p>
  </div>

</ion-content>