<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" color="dark" defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Leaderboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="rowList" id="rowList">

  </div>
  
  <!-- <ion-button (click)="dataaa()">click</ion-button> -->

 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="sync()">
      <ion-icon name="sync" mode="md"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>