<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" color="dark" defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Leaderboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>

    <ion-item *ngFor="let i of leaderList" lines="full">
      <ion-avatar slot="start">
        <img [src]="i.img" alt="">
      </ion-avatar>
      <ion-label slot="start"> 
        {{i.uid}} 
      </ion-label>
      <ion-label slot="end">
        {{i.count}}
      </ion-label>
    </ion-item>

  </ion-list>
  

</ion-content>