
ion-content{
    position: relative;
    text-align: center;
    --overflow: hidden;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 200px;
}

.credits {

    font-size: 12px;
    color: #818181;
    margin-top: 3rem;
}

.header{
    position: absolute;
    text-align: center;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.ico {
    opacity: 0.3;
    width: 32px;
    height: 32px;
    margin: 1rem;
}

i#settings .ico{
    opacity: 1;
}