<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button mode="ios" (click)="close()">
        <ion-icon name="close" mode="md" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Reset Score</h2>
  <ion-button mode="ios" class="btn" color="warning" (click)="resetScore()">Reset</ion-button>


  <!-- <h2>Theme Mode</h2>
  <ion-item lines="none">
    <ion-icon name="moon" mode="ios" slot="start"></ion-icon>
    <ion-toggle slot="start" [(ngModel)]="theme" (click)="toggle()" checked="{{theme}}"></ion-toggle>
    <ion-icon name="sunny" mode="ios" slot="start"></ion-icon>
  </ion-item> -->

  <div class="credits">

    <span>SinketStudios, S.L © {{date}}</span><br>
    <span>{{version}}</span>

  </div>
  
</ion-content>